@media screen and (max-width: 480px) {
.burger {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	background-color: black;
}
.nav_container {
	padding: 0;
}
.navigation_menu {
	display: none;
}
input {
	display: none;
}
span {
	width: 30px;
	height: 5px;
	background: #D9D9D9;
	position: absolute;
}
span::after,span::before {
	content:"";
	width: 30px;
	height: 5px;
	background: #D9D9D9;
	position: absolute;
}
span::after {
	top: 8px;
}
span::before {
	top: -8px;
}
a {
	display: none;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 20px;
}
input:checked~ul>a {
	display: block;
}
input:checked~label>span {
	background: transparent;
}
input:checked~label>span:before {
	content:"";
	transform: rotate(45deg);
	top: 1px;
}
input:checked~label>span:after {
	content:"";
	transform: rotate(-45deg);
	top: 1px;
}
label {
	left: 160px;
	top: 13px;
	position: relative;
}
form label:nth-child(1) input {
	display: block;
}
form label {
	position: static;
}
form label:nth-child(2) input {
	display: block;
}
form label:nth-child(3) input {
	display: block;
}
}